.venv/
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.log
*.DS_Store
.env
.env.*
node_modules/
dist/
build/
*.egg-info/
*.egg
*.swp
*.bak
*.tmp
/.idea/
/.vscode/
vectorizer.pkl
model.pkl